@import "variables";
@import "mixins";

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.mdxblog {
  p {
    text-align: justify;
    margin: 20px 0;
  }
  p:first-of-type {
    margin-top: 0;
  }
  h1 {
    font-size: 2.35rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  a {
    color: $primary-color;

    &:hover {
      color: $secondary-color;
    }
  }

  mark {
    background-color: $primary-color;
  }

  code {
    font-family: monospace;
    background-color: $tertiary-color;
    padding-left: 5px;
    padding-right: 5px;
  }

  blockquote {
    border: 1px solid transparent;
    border-left: 4px solid $primary-color;
    background-color: $tertiary-color;
    padding: 8px 10px;
    width: 100%;
    margin: 20px 0;
    //

    p {
      font-style: italic;
      font-size: 1.1rem;
      font-weight: bold;
    }
    p:first-of-type {
      color: $body-bg;
      font-style: normal;
      font-weight: normal;
    }

    footer::before {
      content: "\2014 \00A0";
    }

    footer cite {
      font-style: italic;
      color: $tertiary-color;
    }
  }

  pre {
    background: $code-bg-color;
    overflow-x: auto;
    text-align: left;
    padding: 5px;

    code {
      display: block;
      padding: 0 10px;
      background: transparent;
    }
  }

  table {
    display: table;
    padding: 5px;
    border-collapse: collapse;

    thead,
    tbody {
      text-align: left;
    }

    tr {
      th,
      td {
        padding: 5px 10px;
        border-bottom: 1px solid $primary-color;
        border-top: 1px solid $primary-color;
        border-left: 1px solid $fourth-color;
        border-right: 1px solid $fourth-color;
      }
    }
  }

  div[overflow] {
    overflow-x: auto;
    max-width: 100vw;
    ::-webkit-scrollbar {
      height: 0;
    }
  }

  img {
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
  }

  figcaption {
    text-align: center;
    * {
      text-align: center;
    }
  }

  textarea {
    color: $secondary-color;
    width: -webkit-fill-available;
    font-size: 1rem;
    padding: 5px;

    &:active,
    &:focus {
      outline-color: $primary-color;
    }
  }

  button {
    @include button();
  }

  // coming from chat gpt

  /* Global list styles */
  ul,
  ol {
    padding-left: 30px;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }

  /* Unordered list styles */
  ul {
    list-style: none;
  }

  ul > li {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
  }

  ul > li::before {
    content: "â—";
    position: absolute;
    left: 0;
    top: 0;
    color: $primary-color;
    font-size: 1rem;
  }

  /* Ordered list styles */
  ol {
    list-style: none;
    counter-reset: item;
  }

  ol > li {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
  }

  ol > li::before {
    content: counter(item) ". ";
    counter-increment: item;
    position: absolute;
    left: 0;
    top: 0;
    color: $primary-color;
    font-size: 1rem;
  }

  hr {
    margin-top: 15px;
  }
}

.dark .mdxblog {
  pre {
    background-color: $text-color;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  blockquote {
    background-color: $text-color;
    color: #fff;
    border: 1px solid #fff;
    border-left: 4px solid $primary-color;
  }
}
